/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to right, #e81416, #ffa500, #faeb36, #79c314, #487de7, #4b369d, #70369d);
  animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  font-size: 6em;
  margin-bottom: 10px;
  color: #fff;
}

p {
  font-size: 1.8em;
  margin-bottom: 30px;
  color: #fff;
}

.button-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  gap: 10px;
}

.button-list a,
.button-grid a {
  padding: 2vh 3vw;
  margin-bottom: 1vh; /* Adjusted margin for all buttons */
  background-color: #fff;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  background: linear-gradient(to right,
  #FA8072, #FAA272); /* Adjust colors */

}

.button-list a:hover,
.button-grid a:hover {
  background-color: #3494e6;
  color: #000;
  transform: scale(1.1); /* Scale up on hover */
  background: linear-gradient(to right, #FAA272, #FAC472); /* Adjust colors */
}

/* Remove the margin for the first button in the list */
.button-list a:first-child {
  margin-bottom: 10px;
}

.button-page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to left, #3494e6, #df34E6, #8634E6, #E63494);
}

.content p {
  white-space: pre-line;
}
